<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>微任务 - 小举动，连成大Impact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>微任务: 验证信息</ion-card-subtitle>
      <ion-card-title>验证信息</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      本核心板块还在测试中，针对眼下疫情援助周边信息鱼龙混杂的痛点，我们构建一个分布式信息网络，由算法连接一个个普通群众一起构建可信的疫情救援网络
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>验证需求信息</ion-card-subtitle>
      <ion-card-title>安徽医科大学附属巢湖医院</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      马上拿起手机打一个小电话帮助验证本需求 <br />
      联系方式：*********** 【内侧期】
    </ion-card-content>
  </ion-card>
</ion-content>
