<ion-header>
  <ion-toolbar>
    <ion-title>
      实时信息整理
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 这个mythbusting版块后续上线 -->
  <!-- feature in next version -->
  <!-- <ion-card class="ion-activatable">
    <ion-card-header color="medium">
      <ion-card-subtitle>拒绝谣言</ion-card-subtitle>
      <ion-card-title>关于这次武汉冠状病毒的科学信息</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Item 1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Item 2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Item 3</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card> -->

  <!-- <ion-card
    class="ion-activatable"
    routerLink="../../../check-affected-transports"
  >
    <ion-card-header color="danger">
      <ion-card-subtitle>重要信息</ion-card-subtitle>
      <ion-card-title>新型肺炎确诊患者相同行程信息</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>航班: TR134 - 新加坡 至 西安</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>公交：西安市高陵区109路</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>火车：D3286 - 汉口 至 梅州西</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card> -->

  <ion-card
    class="ion-activatable"
    routerLink="../../../view-and-adopt-needs"
  >
    <ion-card-header color="dark">
      <ion-card-subtitle>援助信息</ion-card-subtitle>
      <ion-card-title>各地医院/社区物资需求查询</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>成都大学附属医院：医用一次性防护服、</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>中南大学湘雅三医院：防护面罩、防护帽</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>西南医科大学附属医院：隔离衣、医用防护口罩(N95)</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-card
    class="ion-activatable"
    routerLink="../../../check-suppliers"
  >
    <ion-card-header color="dark">
      <ion-card-subtitle>援助信息</ion-card-subtitle>
      <ion-card-title>各医用物品合格供应商名单查询</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>医用防护口罩: 涿州福美神盾生物科技有限公司</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>一次性使用医用帽：新乡市天虹医疗器械有限公司</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>医用帽子：新乡市荣军医疗器械有限公司</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</ion-content>
