<ion-header>
  <ion-toolbar>
    <ion-title>
      追踪我的援助
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>信任算法提升中</ion-card-subtitle>
      <ion-card-title>本功能计划 ver0.2 上线</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      ver 0.1 中，我们核心通过连接数据组成分布式数据网络，目标后续帮助大家能够追踪自己援助的impact，这帮助后续各类需求可靠性的判断
    </ion-card-content>
  </ion-card>

  <!-- <ion-card class="ion-activatable">
    <ion-card-header color="secondary">
      <ion-card-subtitle>物资捐赠</ion-card-subtitle>
      <ion-card-title>物资抵达并满足需求！</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Item 1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Item 2</ion-label>
        </ion-item>
      </ion-list>
      <p style="font-size:0.7em; padding-top:0.3em; text-align:right;">
        更多
      </p>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card> -->

  <!-- <ion-card class="ion-activatable">
    <ion-card-header color="medium">
      <ion-card-subtitle>物资捐赠</ion-card-subtitle>
      <ion-card-title>物流中</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Item 1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Item 2</ion-label>
        </ion-item>
      </ion-list>
      <p style="font-size:0.7em; padding-top:0.3em; text-align:right;">
        更多
      </p>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card> -->
</ion-content>
